hostname: {{ inventory_hostname}}

distribution: {{ ansible_lsb.description }}

interfaces:
{% for iface in ansible_interfaces | difference(['lo']) %}

name: {{ iface }}
mac:  {{ vars.ansible_facts[iface].macaddress }}

{% endfor %}



lvms:
{% for lv in ansible_lvm.lvs %}

lv_name: {{ lv }}
size: {{ ansible_lvm.lvs.root.size_g }}

{% endfor %}

